* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #e5e5e5;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
}
.pageWrapper {
  min-width: 400px;
  max-width: 1440px;
  height: 100%;
  margin: auto;
  background-color: #ffffff;
  padding-bottom: 115px;
}
.header__wrap {
  position: relative;
  background-color: rgb(31, 32, 33);
  height: 252px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header {
  padding: 0 10px 0 10px;
  height: 252px;
  max-width: 1180px;
  width: 100%;
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.header__bg-img {
  height: 252px;
  width: 100%;
  opacity: 0.2;
  position: absolute;
  background-size: cover;
  background-attachment: fixed;
  object-fit: cover;
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__nav_logo {
  cursor: pointer;
}
.header__nav_links {
  max-width: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px 0 10px;
}
.header__nav_link {
  cursor: pointer;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}
.header__nav_phone-num {
  cursor: pointer;
  text-align: end;
  width: 180px;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}
.header__nav_phone-num_text {
  text-align: end;
  width: 180px;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  color: #ffffff;
}
.header__search-text {
  padding: 40px 0 40px 0;
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  color: #ffffff;
}
.main__wrap {
  width: 100%;
  height: 100%;
  position: relative;
}
.main {
  max-width: 1190px;
  margin: auto;
}
.main__sort-wrap {
  padding-left: 20px;
  display: flex;
  width: 360px;
  height: 90px;
  align-items: center;
  justify-content: space-between;
}
.main__sort_title {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
.main__sort_on-price {
  cursor: pointer;
  display: flex;
}
.main__sort-wrap img {
  padding-left: 15px;
  transition: all 0.5s ease-in-out;
}
.main__sort-wrap img:hover {
  transform: rotate(360deg);
}
.main__sort_to {
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
.main__sort_to-age {
  cursor: pointer;
  display: flex;
}
.main__products-wrap {
  max-width: 1190px;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
}
.main__cat-block {
  position: relative;
  margin: 8px;
  width: 380px;
  height: 521px;
}
.main__cat_to-favorites {
  cursor: default;
  color: #ffffff;
  background-color: crimson;
  border-radius: 5px;
  position: fixed;
  height: 50px;
  width: 230px;
  right: calc(100vw / 8);
  top: 170px;
  display: flex;
  opacity: 0;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
  z-index: -1;
}
.main__cat_to-favorites_show {
  z-index: 20;
  opacity: 1;
}
.main__cat_foto {
  width: 380px;
  height: 264px;
}
.main__cat_like-img {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  transition: all 0.2s ease-in-out;
}
.main__cat_like-img:hover {
  transform: scale(1.2);
}
.main__cat_no-like {
  opacity: 0.5;
}
.main__cat_like {
  opacity: 1;
}
.main__cat_discount {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 78px;
  height: 39px;
  background: #e62d2d;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.main__cat_discount:hover {
  transform: scale(1.2);
}
.main__cat_discount_text {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
.main__cat_info {
  width: 380px;
  height: 192px;
  padding: 30px 20px 30px 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #f3f3f3;
}
.main__cat_info_title {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
.main__cat_info_block {
  display: flex;
  border-left: 3px #6ebbd3 solid;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
}
.main__cat_info_color {
  width: 94px;
  height: 35px;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}
.main__cat_info_age {
  width: 100px;
  height: 35px;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}
.main__cat_info_paw {
  width: 100px;
  height: 35px;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}
.main__cat_info_price {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
.main__cat_buy {
  height: 65px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main__cat_buy_text {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}
.main__cat_sell {
  background-color: #6ebbd3;
  cursor: pointer;
}
.main__cat_sold-out {
  background-color: #1f2021;
}
.main__more-product {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 210px;
}
.main__more_button {
  cursor: pointer;
  width: 380px;
  height: 65px;
  border: 1px solid #cacaca;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main__more_button-text {
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.onTopButton {
  cursor: pointer;
  position: fixed;
  width: 59px;
  height: 59px;
  right: 25px;
  bottom: 120px;
  background: #6ebbd3;
  display: none;
  align-items: center;
  justify-content: center;
}
.onTopButton_show {
  display: flex;
}
.footer__wrap {
  margin: auto;
  max-width: 1180px;
  background-color: #1f2021;
  height: 312px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer {
  padding: 0 10px 0 10px;
  max-width: 1020px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__sub_title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  color: #ffffff;
}
.footer__sub_text {
  font-size: 28px;
  line-height: 26px;
  color: #ffffff;
}
.footer__sub_email_block {
  display: flex;
}
.footer__sub_email_input {
  background-color: #ffffff;
  border-radius: 10px;
  width: 300px;
  height: 65px;
  border: none;
  padding-left: 10px;
  font-size: 25px;
}
.footer__sub_email_input_wrong {
  background-color: #e62d2d;
  border: 2px #e62d2d solid;
}
.footer__sub_email_input:focus {
  background-color: #ffffff;
  border: none;
}
input::placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.footer__sub_submit {
  margin-left: 16px;
  width: 250px;
  height: 65px;
  background: #6ebbd3;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  cursor: pointer;
}
.footer__sub-news_block {
  margin-top: 26px;
  display: flex;
}
.footer__sub-news_input {
  display: none;
}
.footer__sub-news_label {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 20px;
}
input[type="checkbox"]:checked + label {
  background-color: #6ebbd3;
}
.footer__sub-news_text {
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}
@media (max-width: 920px) {
  .footer__sub_email_block {
    flex-direction: column;
    height: 150px;
    justify-content: space-between;
  }
}
@media (max-width: 660px) {
  .footer {
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
  }
  .footer__wrap {
    height: 400px;
  }
  .footer__sub_submit {
    width: 300px;
    margin-left: 0;
  }
}
@media (max-width: 550px) {
  .header {
    height: 100%;
  }
  .header__nav {
    height: 100%;
    flex-direction: column;
  }
  .header__search-text {
    padding: 20px 0 20px 0;
  }
  .header__nav_logo {
    margin-top: 10px;
  }
}
